# カスタムフィールド(地域情報連動機能)の設定
# * すべて「リストから選択」であること
# * 下記書式で「大分類」「中分類」「小分類」をカスタムフィールドIDを記載すること
#
custom_field_connection:
  -
    - 1003
    - 1004
    - 1005

# カスタムフィールド(マップ入力機能)の設定
# * すべて「テキスト」であること
# * 下記書式で「大分類」「中分類」「小分類」「住所」のカスタムフィールドIDを記載すること
#
custom_field_address:
  -
    - 1006
    - 1007
    - 1008
    - 1009
