## ZNET TOWN(住宅地図)の設定

# 機能有効化設定
# * true : 有効
# * false: 無効
enable: true

# 認証情報(CGIのURL)
# * http://lab.zapi.znet-town.net : 検証環境
# * http://zapi.znet-town.net     : 商用環境
uri_host: http://lab.zapi.znet-town.net

# 認証情報(CGIのURL)
# * 変更不要
uri_local: /znettown/api/simple_login.php

# 認証情報(取得した企業コード)
cid: 11111111

# 認証情報(取得したユーザID)
uid: 11111111

# 認証情報(取得したパスワード)
pwd: 11111111

# マップ初期表示内容(緯度)
lat: "138352421"

# マップ初期表示内容(経度)
lng: "508702556"

# マップ初期表示内容(地図倍率)
# *  2: 広域図
# *  3: 広域図
# *  4: 広域図
# *  5: 広域図
# *  6: 道路図
# *  7: 道路図
# *  8: 道路図
# *  9: 市街図
# * 10: 市街図
# * 11: 市街図
# * 12: 住宅地図
# * 13: 住宅地図
# * 14: 住宅地図
# * 15: 住宅地図
# * 16: 住宅地図
# * 17: 住宅地図
zoom: 9

# マップ初期表示内容(地図表示モード)
# * 1: カラー／表札あり
# * 2: モノクロ／表札あり
# * 3: カラー／表札なし
# * 4: モノクロ／表札なし
viewmode: 1

# マップ初期表示内容(マウスドラッグモード)
# * 1: 追従スクロール
# * 2: ドラッグスクロール
dragmode: 2

# マップ初期表示内容(虫めがねモード)
# * 0: 無効
# * 1: 有効(表示)
# * 2: 有効(非表示)
loupemode: 0

# マップ初期表示内容(広域ミニマップモード)
# * 0: 無効
# * 1: 有効(表示)
# * 2: 有効(非表示)
submapmode: 0
