<table class="list">
  <thead>
    <tr>
      <th style="text-align: center;">避難所識別番号</th>
      <th style="text-align: center;">避難所名</th>
      <th style="text-align: center;">避難所種別</th>
      <th style="text-align: center;">地区名</th>
      <th style="text-align: center;">TEL</th>
      <th style="text-align: center;">管理者</th>
      <th style="text-align: center;">収容人数</th>
      <th style="text-align: center;">開設状況</th>
      <th style="text-align: center;">登録者名</th>
      <th style="text-align: center;">登録日</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td style="text-align: center;">0420299999</td>
      <td style="text-align: center;">XXXXXXXXXXXXXXXXX</td>
      <td style="text-align: center;">臨時</td>
      <td style="text-align: center;">XXXXXXX</td>
      <td style="text-align: center;">9999-99-9999</td>
      <td style="text-align: center;">XXXXXXX</td>
      <td style="text-align: right;">9999999</td>
      <td style="text-align: center;">開設</td>
      <td style="text-align: center;">XXXXXXX</td>
      <td style="text-align: center;">YY/MM/DD</td>
    </tr>
    <tr class="even">
      <td style="text-align: center;">0420299999</td>
      <td style="text-align: center;">YYYYYYYYYYYYYYYYY</td>
      <td style="text-align: center;">広域避難場所</td>
      <td style="text-align: center;">XXXXXXX</td>
      <td style="text-align: center;">9999-99-9999</td>
      <td style="text-align: center;">XXXXXXX</td>
      <td style="text-align: right;">9999999</td>
      <td style="text-align: center;">常設</td>
      <td style="text-align: center;">XXXXXXX</td>
      <td style="text-align: center;">YY/MM/DD</td>
    </tr>
  </tbody>
</table>

