<% i_a = issue
   if i_a %>
<%= stylesheet_link_tag 'issue_addition', :plugin => 'lgdis' %>
<hr />
<%= yield :scripts %>

  <% xml = i_a.try(:xml_body)
     if xml %>
<hr />
<table class="attributes">
<tr>
  <th class="xml_field"><%= l(:field_xml_field) %>:</th>
</tr>
</table>
<input type="checkbox" id="xml_view_sampling" checked><label for="xml_view_sampling">石巻市関連情報のみ</label>
<%== print_xml_field(xml) %>
<script>
$(function(){
  $("#xml_view_sampling").change(function(){
    $("#xml_field_all").toggle(!this.checked);
    $("#xml_field_sampling").toggle(this.checked);
  }).change();
});
</script>
  <% end %>
<% end %>
