<% if Setting.plugin_lgdis.present? && Setting.plugin_lgdis[:enable_external_auth] %>
<div id="login-form">
  <table>
    <tr>
      <td><%= link_to l('external_auth.sign_in_via', :kind => 'Google'), '/auth/google' %></td>
      <td><%= link_to l('external_auth.sign_in_via', :kind => 'Twitter'), '/auth/twitter' %></td>
    </tr>
    <tr>
      <td><%= link_to l('external_auth.sign_in_via', :kind => 'facebook'), '/auth/facebook' %></td>
      <td><%= link_to l('external_auth.sign_in_via', :kind => 'OpenAM'), '/auth/openam' %></td>
    </tr>
  </table>
</div>
<% end %>
