"id","name","is_closed","is_default","position","default_done_ratio"
1,"発生（×××が発生した）／着手（×××に着手した）",false,true,1,
2,"拡大（×××が広がっている）",false,false,2,
3,"継続（×××が続いている）",false,false,3,
4,"終息（×××が終りに向かっている）",false,false,4,
5,"終了（×××が終わった）",true,false,5,
6,"確認中（×××を確認している）",false,false,6,
7,"調整中（×××を調整している）",false,false,7,
8,"調達中（×××を入手している）",false,false,8,
9,"輸送中（×××を運んでいる）",false,false,9,
10,"探索中（×××を探している）",false,false,10,
11,"転送中（×××を伝えている）",false,false,11,
12,"移動中（×××が移動している）",false,false,12,
13,"意思決定中（×××を最終的に決めている）",false,false,13,
14,"実行中（×××を実行している）",false,false,14,
15,"完了（着手した×××が完了した）",true,false,15,
