"name","description","homepage","is_public","enabled_module_names","tracker_ids","issue_custom_field_ids"
"外部入力用プロジェクト","J-ALERT、気象庁業務支援センター等の外部システムからの入力情報用プロジェクトです。","","0","
- 'issue_tracking'
- 'delivery_histories'
- ''
","
- '77'
- '78'
- '4'
- '3'
- '6'
- '5'
- ''","
- ''"
"災害訓練用プロジェクト","災害訓練用のプロジェクトです。","","0","
- 'issue_tracking'
- 'evacuation_advisories'
- 'shelters'
- 'disaster_damage'
- 'delivery_histories'
- ''
","
- '77'
- '78'
- '4'
- '3'
- '6'
- '5'
- '16'
- '1'
- '2'
- '17'
- '18'
- '7'
- '8'
- '33'
- '9'
- '10'
- '76'
- '11'
- '12'
- '13'
- '14'
- '34'
- '35'
- '36'
- '37'
- '38'
- '39'
- '40'
- '41'
- '15'
- '22'
- '23'
- '24'
- '26'
- '67'
- '68'
- '69'
- '70'
- '28'
- '71'
- '29'
- '48'
- '20'
- '21'
- '25'
- '27'
- '42'
- '72'
- '73'
- '74'
- '75'
- '55'
- '50'
- '43'
- '44'
- '45'
- '46'
- '51'
- '52'
- '62'
- '63'
- '60'
- '61'
- '66'
- '59'
- '56'
- '54'
- '57'
- '58'
- '64'
- '65'
- '53'
- ''","
- ''"
"通信試験プロジェクト","通試験用のプロジェクトです。","","0","
- 'issue_tracking'
- 'evacuation_advisories'
- 'shelters'
- 'disaster_damage'
- 'delivery_histories'
- ''
","
- '77'
- '78'
- '4'
- '3'
- '6'
- '5'
- '16'
- '1'
- '2'
- '17'
- '18'
- '7'
- '8'
- '33'
- '9'
- '10'
- '76'
- '11'
- '12'
- '13'
- '14'
- '34'
- '35'
- '36'
- '37'
- '38'
- '39'
- '40'
- '41'
- '15'
- '22'
- '23'
- '24'
- '26'
- '67'
- '68'
- '69'
- '70'
- '28'
- '71'
- '29'
- '48'
- '20'
- '21'
- '25'
- '27'
- '42'
- '72'
- '73'
- '74'
- '75'
- '55'
- '50'
- '43'
- '44'
- '45'
- '46'
- '51'
- '52'
- '62'
- '63'
- '60'
- '61'
- '66'
- '59'
- '56'
- '54'
- '57'
- '58'
- '64'
- '65'
- '53'
- ''","
- ''"
"公共情報コモンズ配信記録","公共情報コモンズの配信記録情報を登録するプロジェクトです。","","0","
- 'issue_tracking'
- 'delivery_histories'
- ''
","
- '79'
- ''","
- ''"
