<% if custom_field.format_in? 'date' %>
<p><%= form.check_box :include_time, :disabled => @custom_field.include_time && !@custom_field.new_record? %></p>
<% end %>

<% if custom_field.format_in? 'list' %>
<p>
  <%= form.text_area :default_value, :value => custom_field.default_value.to_a.join("\n"), :rows => 15, :id => "custom_field_default_value_multiple", :style => "width:99%;" %>
  <em class="info"><%= l(:text_custom_field_default_value_multiple_info) %></em>
</p>
<%= javascript_tag do %>
  $(function(){
    $("#custom_field_multiple").change(function(){
      var $custom_field_default_value = $("#custom_field_default_value");
      var $custom_field_default_value_multiple = $("#custom_field_default_value_multiple");
      if ($(this).is(":checked") == true) {
        $custom_field_default_value.parent().toggle(false);
        $custom_field_default_value.attr("disabled", "disabled");
        $custom_field_default_value_multiple.parent().toggle(true);
        $custom_field_default_value_multiple.removeAttr("disabled");
      } else {
        $custom_field_default_value.parent().toggle(true);
        $custom_field_default_value.removeAttr("disabled");
        $custom_field_default_value_multiple.parent().toggle(false);
        $custom_field_default_value_multiple.attr("disabled", "disabled");
      }
    }).change();
  });
<% end %>
<% end %>